.bodyContainer {
  width: 100%;
  margin-top: 250px;
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  text-shadow:
  .5px .5px 0 #a7a7a7,
  -.5px .5px 0 #a7a7a7,
  -.5px -.5px 0 #a7a7a7,
  .5px -.5px 0 #a7a7a7,
  0px 4px 0px #a7a7a7;
}

.header {
  padding-bottom: 20px;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 7em;
  font-weight: 600;
}

.header h2 {
  margin: 0;
  font-size: 4em;
  font-weight: 600;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body h4 {
  font-size: 2em;
  font-weight: 700;
  /* text-shadow: 0 2px 0px rgb(202, 91, 0); */
  /* text-shadow: 6px 6px 10px rgb(0, 0, 0); */
}

