.faviconBar {
  position: fixed;
  top: 30vh;
  display: flex;
  right: 20px;
  padding: 20px 0;
  z-index: 4;
}

.faviconBar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.faviconBar li {
  margin: 0;
  padding: 30px 0;
}

.faviconButton {
  background-color: rgb(153, 153, 153);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.buttonFront {
  display: block;
  padding: 0;
  border-radius: 12px;
  width: 48px;
  height: 48px;
  background-color: whitesmoke;
  transform: translateY(-6px);
  filter: grayscale(100%);
}

.faviconButton:hover .buttonFront {
  filter: grayscale(0%);
  width: 55px;
  height: 55px;
  transition: .3s ease-in 0s all;
}

.faviconButton:active .buttonFront {
  transform: translateY(-2px);
  transition: 0s ease-out 0s all;
}

@media only screen and (max-width: 1100px) {
  .faviconBar {
    position: static;
    top: auto;
    right: auto;
    width: 100%;
    padding: 60px 0;
  }
  .faviconBar ul {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .buttonFront {
    padding: 5px;
  }
}

/* @media only screen and (max-width: 400px) {
  .faviconBar {
    height: fit-content;
  }
  .buttonFront {
    padding: 0;
    transform: translateY(-4px);
  }
  .faviconButton {
    border-radius: 8px;
  }
} */